body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: ivory;
}
header {
    color: seashell;
    background: slategray;
    border: thick dashed silver;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom:150px;
    font-size: 32px;
}
h1 {
    font-size: 72px;
    padding-bottom: 30px;
}
table{
    color: slategray;
    font-size: 32px;
}
thead {
    background: silver;
}
td {
    border-top: thick dashed silver;
    border-bottom: thick dashed silver;
    height: 200px;
    width: 20%;
    border-right: thick solid silver;
    border-left: thick solid silver;
    padding: 10px;
}
div {
    width:15%;
    margin: 0 auto;
    color: slateblue;
    font-size: 32;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: thick dashed silver;
    border-top: 0;
}
#scorestatement{
    font-size: 72px;
}