body {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b4c5c9;
}
header {
    background-color: #3d3d47;
    color: #84a69c;
    padding: 2% 2% 10%;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
    text-decoration: underline dotted;
}

img {
    float: right;
    width: 400px;
    height: 200px;
    border: 2px solid #84a69c;
    border-radius: 100px;
    object-fit: cover;
    object-position: 50% 0%;
}

header p,a {
    display: inline;
    margin: 10px;
    border:2px solid #84a69c;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    font-style: oblique;
}

header a {
    font-weight: bolder;
    color: #d3dfdb
}

ul li.list {
    display: inline-block;
    width: 30%;
    height: 320px;
    vertical-align: top;
    margin: 1%;
    background-color: #d5d1ca;
    border:5px outset #d5d1ca;
    color: #817665;
}

h2 {
    font-size: 26px;
    padding-left: 10px;
}

li {
    margin: 5px;
    background-color: #7c3d35;
    border: 2px outset #7c3d35;
    border-radius: 3px;
    color: #ba695e;
}
ul > li {
    height: 4em;
    margin: 10px;
}

th {
    width: 20%;
    background-color: #d5d1ca;
    border : 5px dotted #817665;
    color: #817665;
    font-size: 32px;
}
td {
    color: #84a69c;
    font-size: 26px;
    padding: 5px 10px 30px;
    border: 5px dotted #817665;
}

div {
    width: 25%;
    margin: 0 auto;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    color: #7c3d35;
    background-color: #ba695e;
    border: 10px Outset #ba695e;
    border-radius: 40px;
    font-size: 32px;
}

#scorestatement {
    font-size: 40px;
}